.text-center text-lg-start text-white{
    background-color: black;
}
.widget_copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.footer-area {
  font-size: inherit;
}

.footer-area p,
.footer-area ul,
.footer-area li,
.footer-area a,
.footer-area h5,
.footer-area span {
  font-size: inherit;
}